* {
  margin: 0;
  padding: 0;
}

body{
	font-family: arial;
	font-weight: bold;
	text-align: center;
	background: #1212A5;
}

table
{
  border-collapse: collapse;
}

#general{
  margin: auto;
  width: 1200;
  height: 700;
  background: #C8D5B9; 
  margin: 0.5em auto;
  padding: 0.5em ;
  font-family: calibri;
  font-weight: bold;
}